.feature-omaria .itemIcon {
    background-color: transparent;
    width: 61px;
  }
.feature-omaria .extensionMenuItem {
    color: rgb(23, 33, 40);
    background-size: 21px;
    background-position: 20px 12px;
  }